<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Password Management System</h2>
    <div class="box">
      
     
      <p id="pk"> Add new category </p>
      <form action="/" nethod="post">
        <p>Username </p>
        <input id="in"name="name" type="text" placeholder="addnewcategory" ><br>
              
      <button  type="button" name="submit">Add</button>
      </form>
      <div><a href="/password">view category</a></div>
      
  </div>

  </body>
</html>
