<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Password Management System</h2>
    <div class="box">
      
     
      <p id="pk"> Add new password </p>
      <form action="/" nethod="post">
        <p>password</p>
        <input id="in"name="name" type="text" placeholder="addpasswordcategory" > <br>
        <p>password details</p>
        <textarea name="details" id="" cols="60" rows="5">Password Details</textarea> <br>
              
      <button  type="button" name="submit">Add</button>
      </form>
      <div><a href="/viewallpassword">view password details</a></div>
  </div>

  </body>
</html>
